.leftfloat {
  float: left;
  background-color: lightblue;
  width: 18%;
  padding:12px;
  margin-right: 5px;
}
img {
  width:200px;
  height:140px;
  width:100%
}
h1 {
  text-align: center;
  color: pink;
  font-size: 80px;
  font-family: cursive;
}
h3 {
  text-align: center;
  font-family: cursive;
  font-weight: bold;
  font-size: 36px;
}
body {
  background-color: darkblue;
}
.column p {
  font-family: monospace;
  border: 2px dashed blue;
  padding: 4px;
}
.logo {
  width: 300px;
  height: 300px;
  display: block;
  margin: auto;
}
@media screen and (max-width: 700px) {
  .column {
    width: 40%;
  }
}
@media screen and (max-width: 350px) {
  .column {
    width: 90%;
  }

}
